/*cabecera o barra*/

.cabecera {
    max-width: 1400px;
    background-color: #063c3d;
    
}


/* navegacion,*/

.navegacion {
    height: 40px;
}

.navegacion ul {
    list-style: none;
}


/* barra interactiva */

.menu li a {
    color: wheat;
    padding: 5px;
    display: block;
    text-decoration: none;
    min-width: 100px;
    font-family: Arial, Helvetica;
    position: relative;
}


/*organiza el menu*/

.menu>li {
    float: left;
}

.menu>li>ul {
    display: none;
}

.menu li a:hover {
    color: wheat;
}


/*menu secundario*/

.menu>li:hover>ul {
    display: block;
}


/* movimiento de la barra*/

.navegacion a {
    text-decoration: none;
    color: rgb(66, 59, 59);
    text-transform: uppercase;
    display: inline;
    margin-right: 4px;
    padding: 8px;
    transition-property: all;
    transition-duration: .80s;
    transition-delay: .2s;
    background-color: #063c3d;
}


/* barra menu desplegable */

.navegacion a:hover {
    color: wheat;
    background-color: #00393a;
}


/*Modifca la barra alado del icono*/

.barra {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* imagen de la barra*/

.logo {
    width: 200px;
    height: 80px;
    margin-left: 1em;
}

img {
    max-width: 100%;
}


/*cuerpo de la pagina.*/


/*texto informativo inicio*/

.contenedor {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #eff2fa;
}

.contenedor-imagen {
    width: 500px;
    height: 60px;
    margin-bottom: 10px;
}

.text {
    height: 60px;
    font-family: 'Quattrocento', serif;
    justify-items: center;
}


/*carrucel fotos */

.carucel {
    max-width: 100%;
    height: 400px;
    background-color: #bbcfff;
}


/*imagen de entrada*/

.picvivero {
    max-width: 100%;
    height: 400px;
    justify-content: center;
}

.iniciopic {
    width: 100%;
    height: 400px;
}


/*Laboratorio de geostadistica informacion*/

.Laboratorio {
    font-family: 'Quattrocento', serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eff2fa;
    font-size: 29px;
}

.labo {
    width: 100px;
    height: 100px;
}


/*informacion sobre el laboratorio y los diferentes laboratorios*/

.three-columns {
    overflow: hidden;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}

.contenido1 {
    font-size: 15px;
    line-height: 20px;
    padding: 0 15px;
    text-align: justify;
}

.contenido2 {
    font-size: 15px;
    line-height: 20px;
    padding: 0 15px;
    text-align: justify;
}

.contenido3 {
    font-size: 15px;
    line-height: 20px;
    padding: 0 15px;
    text-align: justify;
}


/*contenido de las cajas e informacion*/

.cajaizq {
    float: left;
    width: 100%;
}

.cajader {
    float: right;
    width: 100%;
}

.cajamedia {
    width: auto;
    font-size: 17px;
    width: 100%;
}

.cajamedia .contenido3 {
    padding: 0 15px;
}


/*informacion por laboratorio microbiologia*/

.Lab1 {
    width: 100%;
    font-size: 25px;
    color: blue;
    margin-bottom: 10px;
    padding-left: 15px;
}

.Lab2 {
    width: 100%;
    font-size: 25px;
    color: blue;
    margin-bottom: 10px;
    padding-left: 15px;
}

.Lab3 {
    width: 100%;
    font-size: 25px;
    color: blue;
    margin-bottom: 10px;
    padding-left: 17px;
}


/*imagenes de los laboratorios sus logos*/

.imagen-lab1 {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-left: 30%;
}


/*Nosotros informacion sobre la empresa*/

.nosotros {
    max-width: 1345px;
    height: 300px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 600px 500px;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}


/*imagen de la pagina*/

.were {
    width: 500px;
    height: 300px;
    border-radius: 5px;
    margin-left: 15px;
    

}


/*parrado, el texto de la pagina*/

.parafo {
    display: flex;
    text-transform: uppercase;
    color: rgb(48, 42, 42);
    font-family: 'Quattrocento', serif;
    width: 100%;
}


.paraf{
    text-align: justify;

}


/*galerias de fotos*/

.imggale{
    height: 90vh;
}

.titulo{
    display: flex;
    justify-content: center;
    font-family:'Quattrocento', serif;
    font-size: 30px;
    color: blue;
    padding-top: 10px;
    background-color: #eff2fa;
    width: 100%;
    height: 50px;
}


/*pie de la pagina texto eh imagen*/

.pie-text {
    font-family: 'Quattrocento', serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #063c3d;
    margin-bottom: 2px;
    width: 100%;
    font-size: 30px;
    color: #bbcfff;
    
}

.pie-img {
    width: 100px;
    height: 100px;
}

.ver {
    text-decoration: none;
}


