/*cabecera o barra*/

.cabecera {
    max-width: 1400px;
    background-color: #fafafa;
}


/* navegacion,*/

.navegacion {
    height: 40px;
    
}

.navegacion ul {
    list-style: none;
}


/* barra interactiva */

.menu li a {
    color: black;
    padding: 5px;
    display: block;
    text-decoration: none;
    min-width: 100px;
    font-family: Arial, Helvetica;
    position: relative;
}


/*organiza el menu*/

.menu>li {
    float: left;
}

.menu>li>ul {
    display: none;
}

.menu li a:hover {
    color: black;
}


/*menu secundario*/

.menu>li:hover>ul {
    display: block;
}


/* movimiento de la barra*/

.navegacion a {
    text-decoration: none;
    color: rgb(66, 59, 59);
    text-transform: uppercase;
    display: inline;
    margin-right: 4px;
    padding: 8px;
    transition-property: all;
    transition-duration: .80s;
    transition-delay: .2s;
}


/* barra menu desplegable */

.navegacion a:hover {
    color: black;
    background-color: #21bf73;
}


/*Modifca la barra alado del icono*/

.barra {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* imagen de la barra*/

.logo {
    width: 200px;
    height: 80px;
    margin-left: 1em;
}

img {
    max-width: 100%;
}


/*cuerpo de la pagina.*/


/*texto informativo inicio*/

.contenedor {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #eff2fa;
}

.contenedor-imagen {
    width: 250px;
    height: 60px;
    margin-bottom: 10px;
}

.text {
    width: 450px;
    height: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
    justify-items: center;
}


/*carrucel*/

.carucel {
    max-width: 100%;
    height: 400px;
    background-color: #bbcfff;
}


/*imagen de entrada*/

.picvivero {
    max-width: 100%;
    height: 400px;
    justify-content: center;
}

.iniciopic {
    width: 100%;
    height: 400px;
}


/*Laboratorio de geostadistica informacion*/

.Laboratorio {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eff2fa;
}

.labo {
    width: 100px;
    height: 100px;
}
/*informacion sobre el laboratorio y los diferentes laboratorios*/
.three-columns {
    overflow: hidden;
    display: grid;
    grid-template-columns:400px 400px 400px ;
    justify-content: center;
}

.contenido1 {
    font-size: 18px;
    line-height: 20px;
    padding: 0 15px;
    text-align: justify;
}
.contenido2 {
    font-size: 18px;
    line-height: 20px;
    padding: 0 15px;
    text-align: justify;
}

.contenido3{
    font-size: 18px;
    line-height: 20px;
    padding: 0 15px;
    text-align: justify;
}


.cajaizq {
    float: left;
    width: 100%;
}

.cajaizq .contenido1  {
    border-right: 4px solid #4BB495  ;
}


.cajader {
    float: right;
    width: 100%;
}

.cajamedia{
    width: auto;
    font-size: 18px;
    width: 100%; 
}
.cajamedia .contenido3{
    border-left: 4px solid #4BB495;
    padding: 0 15px;
}

/*informacion por laboratorio microbiologia*/
.Lab1{
    width: 100%;
    font-size: 28px;
    color:blue;
    margin-bottom: 10px;
    padding-left: 15px;
}
.Lab2{
    width: 100%;
    font-size: 28px;
    color:blue;
    margin-bottom: 10px;
    padding-left: 15px;
}
.Lab3{
    width: 100%;
    font-size: 28px;
    color:blue;
    margin-bottom: 10px;
    padding-left: 15px;
}

/*Nostros informacion sobre la empresa*/

.nosotros {
    max-width: 1345px;
    height: 300px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 600px 500px;
}


/*imagen de la pagina*/

.were {
    width: 450px;
    height: 300px;
    border-radius: 5px;
    margin-left: 15px;
}


/*parrado, el texto de la pagina*/

.parafo {
    display: flex;
    text-transform: uppercase;
    color: rgb(48, 42, 42);
    font-family: 'Nanum Myeongjo', serif;
    width: 100%;
}